.AddProduct {
  width: 80%;
  margin: 50px auto 150px auto;
  height: auto;
  background: #fff;
  padding: 70px;
  border-radius: 50px;
  box-shadow: 3px 3px 40px black;
}

.AddProduct .item1,
.item2,
.item3,
.item4,
.item5 {
  margin: 40px 0 0 250px;
}

/*----------------------Item1--------------------------------------*/

.item1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2%;
}

.item1 button {
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.item1 input {
  text-align: left;
  font-size: 20px;
}

/*----------------------------------Item2------------------------------*/
.item2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2%;
}

.item2 button {
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.item2 select {
  text-align: left;
  font-size: 20px;
}

/*-------------------------------Item3---------------------------------*/
.item3 button {
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.item3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2%;
}

.item3 textarea {
  text-align: left;
  font-size: 20px;
}

/*-----------------------------Item4-----------------------------------*/

.item4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2%;
}

.item4 button {
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

/*--------------------------------Item5---------------------------------*/

.item5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2%;
}

.item5 label {
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.item5 input {
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 20px;
}

/* -------------------------------------Item6--------------------------------- */

.item6 {
  float: right;
  margin-top: 40px;
  text-align: left;
  font-size: 20px;
}

.item6 button {
  width: 150px;
}

.item6 input {
  margin: 0 1px 0 0;
  width: 50px;
}

/* -------------------------------Item7------------------------------------- */

.item7 {
  margin-top: 40px;
}

.item7 button {
  width: 150px;
}
