.Sign_Up {
  margin-bottom: 100px;
  margin-top: 100px;
}

.card_sign {
  margin: auto;
  width: 35%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 70px;
  position: relative;
  box-shadow: 1px 1px 10px 1px black;
  position: relative;
}

.header_signup {
  text-align: center;
  background-image: linear-gradient(to left, #833471, #5758bb);
  width: 100%;
  padding: 35px 0px;
  color: #fff;
  position: absolute;
  top: -150px;
  left: 6px;
  box-shadow: 1px 1px 7px 1px black;
  border-radius: 10px;
}

.pass_signup {
  position: relative;
}

.signup_eye {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.pass_signup1 {
  position: relative;
}

.signup_eye1 {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

/*  */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
