.container_details {
  width: 80%;
  height: 700px;
  margin: 150px auto 150px auto;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  background: #fff;
  position: relative;
}

.details_position {
  position: absolute;
  width: 60%;
  text-align: center;
  background-image: linear-gradient(to left, #833471, #5758bb);
  top: -17%;
  left: 20%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  padding: 50px;
  z-index: 1;
}

.details_position h2 {
  font-size: 60px;
}

.details_product {
 display: flex;
  justify-content: center;
  align-items: center;
  width: 100% ;
  height: 100% ;
}

.details_product img{
  max-width: 100%;
  height: 100%;
  margin-left: 80px;
}

.details_owner {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.img_details {
  margin: 150px 0 0 0px;
  width: 100%;
  height: auto;
}

.details_owner p {
  color: black;
  font-weight: bold;
  background-color: #33b5e5 ;
  display: flex;
  justify-content: space-between;
  padding:  15px;
  margin: 20px;
  font-size: 20px;
  text-transform: capitalize;
  width: 450px;
  color: #fff;
  border-radius: 10px;
}
