    .PhoenProducts {
        width: 80%;
        margin: 0 auto 15% auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 100px 0;

    }

    .card-phone {

        transition: transform 0.7s;
    }

    .card-phone:hover {
        transform: scale(1.1);

    }