    .ScreenProducts {
        width: 80%;
        margin: 0 auto 10% auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 100px 100px;

    }

    .card-screen {

        box-shadow: 1px 1px 5px #636e72;
        transition: box-shadow 0.5s;

    }

    .card-screen:hover {
        box-shadow: 3px 3px 20px 1px #2d3436;

    }