.AllProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
    width: 85%;
    height: auto;
    margin: auto;
  }
  .card_all {
    width: 100%;
    height: 500px;
    box-shadow: 2px 2px 5px #999;
    margin-bottom: 50px;
    margin-top: 75px;
    position: relative;
    transition: all ease 0.2s;
    border-radius: 15px;
  }
  
  .card_all:hover {
    box-shadow: 4px 4px 20px #999;
  }
  
  
  
  .header-product {
    text-align: center;
    background-image: linear-gradient(to left, #833471, #5758bb);
    width: 60%;
    height: 70px;
    line-height: 70px;
    color: #fff;
    position: absolute;
    top: -65px;
    left: 20%;
    box-shadow: 1px 1px 7px 1px black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
  }
  
  .card_all .button {
    visibility: hidden;
    border-radius: 50px;
    margin: 15px 5px;
    width: 120px;
  }
  .button-contetn {
    display: flex;
    justify-content: space-between;
    height: 70px;
  }
  .card_all:hover .button {
    visibility: visible;
  }
  .card_all .image-content {
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  
  }
  .details {
    width: 95%;
    margin: 4% auto 0 auto;
    height: auto;
    padding-bottom: 50px;
  }
  
  .details .card-text {
    text-align: center;
    font-weight: bold;
    color: #888;
    margin-bottom: 50px !important;
  }
  
  .details .card-text span {
    display: block;
    font-size: 20px;
    margin: 1% auto 0 auto;
    padding: 10px;
    font-weight: bold;
    color: #111;
  
    width: 70%;
    text-align: center;
  }
  
  
  .btn_all {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto !important;
    box-shadow: 2px 2px 5px #999;
  }
  
  .no_products {
    width: 1000px;
    height: auto;
    background: #222f3e;
    margin: 0 auto 10px 100px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    line-height: 50px;
  }
  
  .no_products p {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    padding: 50px 30px;
    text-align: center;
  }
  
  /* Media  */
  
  @media (max-width: 1100px) {
    .AllProducts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px 50px;
      width: 85%;
      height: auto;
      margin: auto;
    }
    .no_products {
      width: 800px;
      height: auto;
      background: #222f3e;
      margin: 0 auto 10px 75px;
      border-radius: 15px;
      box-shadow: 2px 2px 10px black;
    }
    .no_products p {
      font-size: 50px;
      font-weight: bold;
      color: #fff;
      padding: 50px 30px;
      text-align: center;
    }
  }
  
  @media (max-width: 700px) {
    .AllProducts {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 50px 50px;
      width: 75%;
      height: auto;
      margin: auto;
    }
    .no_products {
      width: 500px;
      height: auto;
      background: #222f3e;
      margin: 0 auto 10px 25;
      border-radius: 15px;
      box-shadow: 2px 2px 10px black;
    }
    .no_products p {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      padding: 50px 30px;
      text-align: center;
    }
  }
  