.AddProduct {
  width: 50%;
  margin: 50px auto 150px auto;
  height: auto;
  background: #fff;
  padding: 70px;
  border-radius: 50px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

.shop_product {
  width: 70%;
  padding: 35px;
  background: red;
  color: white;
  text-align: center;
  position: absolute;
  top: -70px;
  left: 130px;
  background-image: linear-gradient(to left, #833471, #5758BB);
  box-shadow: 1px 1px 7px 1px black;
  border-radius: 10px;


}

.shop_product h2 {
  font-size: 50px;
  /* font-weight: bold; */
}

.items {
  margin-top: 100px;
}

select {
  width: 100%;
  outline: none;
  border: none;
}

.btn-light {
  width: 100%;
}