.PhoenProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 30px;
  width: 80%;
  height: auto;
  margin: auto;
}
.card-phone {
  width: 100%;
  height: 500px;
  box-shadow: 2px 2px 5px #999;
  margin-bottom: 50px;
  margin-top: 75px;
  position: relative;
  transition: all ease 0.2s;
  border-radius: 15px;
}

.card-phone:hover {
  box-shadow: 4px 4px 20px #999;
}

.card-phone:hover .btn-delete-phone {
  visibility: visible;
}

.header-ohone {
  text-align: center;
  background-image: linear-gradient(to left, #833471, #5758bb);
  width: 60%;
  height: 70px;
  line-height: 70px;
  color: #fff;
  position: absolute;
  top: -65px;
  left: 20%;
  box-shadow: 1px 1px 7px 1px black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
}

.btn-delete-phone {
  visibility: hidden;
  outline: 0;
  border: none;
  background: #d63031;
  color: #fff;
  box-shadow: 0.5px 0.5px 5px black;
  border-radius: 2px;
}

.card-body {
  width: 90%;
  margin: 3% auto 0 auto;
  height: auto;
  padding-bottom: 50px;
}

.card-body .card-text {
  text-align: center;
  font-weight: bold;
  color: #888;
  margin-bottom: 50px !important;
}
