/*------------------All Products------------------------------------*/


    .AllProducts {
        width: 80%;
        margin: 0 auto 10% auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 75%;
        margin: 20% auto 10% auto;
        text-align: center;
        font-family: arial;
        position: relative;
        transition: transform 0.7s;
        border-radius: 15px !important;
        font-weight: bold;
        font-size: 20px
    }

    .card:hover {
        transform: scale(1.1);

    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 15px;
        color: white;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 15px;
        position: absolute;
        right: 0;
    }



    /* ---------------------------------------------Media Query ---------------------------------------*/

    /*--------------------------------------Tablet----------------------------------------------------*/

    @media screen and (max-width:900px) {

        .AllProducts {
            width: 90%;
            margin: 0 auto 10% auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 80%;
            margin: 10% auto 20% auto;
            text-align: center;
            font-family: arial;
            position: relative;
            transition: transform 0.7s;
            border-radius: 15px !important;
            font-weight: bold;
            font-size: 20px
        }

        .card:hover {
            transform: scale(1.1);

        }


        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 15px;
            color: white;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 15px;
            position: absolute;
            right: 0;
        }

    }


    /*-------------------Mobiles-------*/

    @media screen and (max-width:550px) {


        .AllProducts {
            width: 95%;
            margin: 0 auto 10% auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }


    /*--------------------Laptop Products------------------------------*/

        .LaptopProducts {
            width: 80%;
            margin: 0 auto 10% auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        .card-laptp {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 75%;
            margin: 20% auto 10% auto;
            text-align: center;
            font-family: arial;
            position: relative;
            transition: transform 0.7s;
            border-radius: 15px !important;
            font-weight: bold;
            font-size: 20px
        }

        .card-laptp:hover {
            transform: scale(1.1);

        }

        .price-laptop {
            color: grey;
            font-size: 22px;
        }

        .card-laptp button {
            border: none;
            outline: 0;
            padding: 15px;
            color: white;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 15px;
            position: absolute;
            right: 0;
        }



        /* ---------------------------------------------Media Query ---------------------------------------*/

        /*--------------------------------------Tablet----------------------------------------------------*/

        @media screen and (max-width:900px) {
            .LaptopProducts {
                width: 90%;
                margin: 0 auto 10% auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            .card-laptp {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 80%;
                margin: 10% auto 20% auto;
                text-align: center;
                font-family: arial;
                position: relative;
                transition: transform 0.7s;
                border-radius: 15px !important;
                font-weight: bold;
                font-size: 20px
            }

            .card-laptp:hover {
                transform: scale(1.1);

            }


            .price-laptop {
                color: grey;
                font-size: 22px;
            }

            .card-laptp button {
                border: none;
                outline: 0;
                padding: 15px;
                color: white;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 15px;
                position: absolute;
                right: 0;
            }

        }


        /*-------------------Mobiles-------*/

        @media screen and (max-width:550px) {
            .LaptopProducts {
                width: 95%;
                margin: 0 auto 10% auto;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }


        /*---------------------------Nav Bar ------------------------------*/


/*------------------ Start Header In Nav Bar -------------------------*/
.header {
    width: 100%;
    height: 150px;
    background: #485460;
}

.header button {
    width: 30%;
    height: 65px;
    grid-area: button;
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

}


.header button i {
    margin-left: 10px;
    font-size: 35px;
}


.header input {
    float: right;
    margin-top: 40px;
    width: 30%;
    height: 65px;
    grid-area: input;
    border-radius: 10px;
    color: gray;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/*------------------ End Header In Nav Bar -------------------------*/



/*----------------Change color for placeholder-------------------*/
::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

::-webkit-placeholder {
    color: #fff;
    opacity: 1;
}

::-o-placeholder {
    color: #fff;
    opacity: 1;
}

::placeholder {
    color: #fff;
    opacity: 1;
}




/*------------------ Start Navigation Bar -------------------------*/
.NavigationBar {
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 70px);

}

.NavigationBar i {
    margin-left: 20px;
    font-size: 40px;
}

.NavigationBar a {
    font-size: 25px;
    font-weight: bold;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 40px;
    transition: all ease 0.4s;
}

.NavigationBar a:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 1px 1px 5px 0.1px black;
}


.NavigationBar a:focus {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 1px 1px 5px 0.1px black;
}

/*------------------ End Navigation Bar -------------------------*/


/*----------------Start Media Query------------------------------*/


/*----------------End Media Query------------------------------*/


/* ---------------------------------------------Media Query ---------------------------------------*/

/*--------------------------------------Tablet----------------------------------------------------*/

@media screen and (max-width:900px) {


    .header {
        width: 100%;
        height: 100px;
        background: #485460;
    }

    .header button {
        width: 30%;
        height: 50px;
        grid-area: button;
        margin-top: 25px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
    }

    .header button i {
        margin-left: 10px;
        font-size: 15px;
    }

    .header input {
        float: right;
        margin-top: 25px;
        width: 30%;
        height: 50px;
        grid-area: input;
        border-radius: 10px;
        color: gray;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }

    .NavigationBar {
        height: 150px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 60px);
        /* text-align: center; */

    }

    .NavigationBar i {
        margin-left: 10px;
        font-size: 15px;
    }

    .NavigationBar a {
        font-size: 17px;
        font-weight: bold;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 40px;
        transition: all ease 0.4s;
        text-align: center;
    }

}

/*-------------------Mobiles-------*/

@media screen and (max-width:550px) {

    .header {
        width: 100%;
        height: 100px;
        background: #485460;
    }

    .header button {
        width: 40%;
        height: 50px;
        grid-area: button;
        margin-top: 25px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
    }

    .header button i {
        margin-left: 10px;
        font-size: 17px;
    }

    .header input {
        float: right;
        margin-top: 25px;
        width: 40%;
        height: 50px;
        grid-area: input;
        border-radius: 10px;
        color: gray;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }

    .NavigationBar {
        height: 150px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 70px);
        /* text-align: center; */
    }

    .NavigationBar i {
        margin-left: 10px;
        font-size: 20px;
    }

    .NavigationBar a {
        font-size: 15px;
        font-weight: bold;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 40px;
        transition: all ease 0.4s;
        text-align: center;

    }


}

/*------------------Phone Products-----------------------------*/


    .PhoenProducts {
        width: 80%;
        margin: 0 auto 15% auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .card-phone {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 75%;
        margin: 20% auto 20% auto;
        text-align: center;
        font-family: arial;
        position: relative;
        transition: transform 0.7s;
        border-radius: 15px !important;
        font-weight: bold;
        font-size: 20px
    }

    .card-phone:hover {
        transform: scale(1.1);

    }

    .price-phone {
        color: grey;
        font-size: 22px;
    }

    .card-phone button {
        border: none;
        outline: 0;
        padding: 15px;
        color: white;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 15px;
        position: absolute;
        right: 0;
    }



    /* ---------------------------------------------Media Query ---------------------------------------*/

    /*--------------------------------------Tablet----------------------------------------------------*/

    @media screen and (max-width:900px) {

        .PhoenProducts {
            width: 90%;
            margin: 0 auto 10% auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .card-phone {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 80%;
            margin: 10% auto 30% auto;
            text-align: center;
            font-family: arial;
            position: relative;
            transition: transform 0.7s;
            border-radius: 15px !important;
            font-weight: bold;
            font-size: 20px
        }

        .card-phone:hover {
            transform: scale(1.1);

        }


        .price-phone {
            color: grey;
            font-size: 22px;
        }

        .card-phone button {
            border: none;
            outline: 0;
            padding: 15px;
            color: white;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 15px;
            position: absolute;
            right: 0;
        }

    }


    /*-------------------Mobiles-------*/

    @media screen and (max-width:550px) {


        .PhoenProducts {
            width: 95%;
            margin: 0 auto 30% auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }

    /*------------------------------Screen Produts--------------------------------------*/

        .ScreenProducts {
            width: 80%;
            margin: 0 auto 10% auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        .card-screen {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 75%;
            margin: 20% auto 10% auto;
            text-align: center;
            font-family: arial;
            position: relative;
            transition: transform 0.7s;
            border-radius: 15px !important;
            font-weight: bold;
            font-size: 20px
        }

        .card-screen:hover {
            transform: scale(1.1);

        }

        .price-screen {
            color: grey;
            font-size: 22px;
        }

        .card-screen button {
            border: none;
            outline: 0;
            padding: 15px;
            color: white;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 15px;
            position: absolute;
            right: 0;
        }



        /* ---------------------------------------------Media Query ---------------------------------------*/

        /*--------------------------------------Tablet----------------------------------------------------*/

        @media screen and (max-width:900px) {

            .ScreenProducts {
                width: 90%;
                margin: 0 auto 10% auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            .card-screen {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 80%;
                margin: 10% auto 20% auto;
                text-align: center;
                font-family: arial;
                position: relative;
                transition: transform 0.7s;
                border-radius: 15px !important;
                font-weight: bold;
                font-size: 20px
            }

            .card-screen:hover {
                transform: scale(1.1);

            }


            .price-screen {
                color: grey;
                font-size: 22px;
            }

            .card-screen button {
                border: none;
                outline: 0;
                padding: 15px;
                color: white;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 15px;
                position: absolute;
                right: 0;
            }

        }


        /*-------------------Mobiles-------*/
        
        @media screen and (max-width:550px) {


            .ScreenProducts {
                width: 95%;
                margin: 0 auto 10% auto;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }  