    .LaptopProducts {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 50px 50px;

    }

    .card-lap {
        box-shadow: 1px 1px 5px #636e72;
        transition: box-shadow 0.5s;

    }

    .card-lap:hover {
        box-shadow: 3px 3px 20px 1px #2d3436;
    }

    img {
        /* text-align: center; */
        margin: auto;
    }